# ──────────────────────────────────────────────
# Rust / Cargo
# ──────────────────────────────────────────────
target/
**/*.rs.bk
Cargo.lock

# ──────────────────────────────────────────────
# Archivos autogenerados por el PrintAgent
# ──────────────────────────────────────────────
logs/
temp/

# ──────────────────────────────────────────────
# Distribución y Scripts de Powershell
# ──────────────────────────────────────────────
dist/
*.exe
*.msi
*.zip

# ──────────────────────────────────────────────
# Entornos de Desarrollo
# ──────────────────────────────────────────────
.idea/
.vscode/
*.suo
*.sln
